<!doctype html>
<html lang="en">
   
<!-- Mirrored from iqonic.design/themes/Guardian/html/profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 19 Sep 2020 19:32:47 GMT -->
<head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Guardian Angel</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="images/favicon.ico" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="css/responsive.css">

      <style>
         /* Set the size of the div element that contains the map */
         #map {
           height: 250px;
           width: 100%;
         }
       </style>
   
       <script>
         var uluru = {};
         uluru = {
           lat:   <%- locate['Latitude'] %>,
           lng: <%- locate['Longitude'] %>
         }
         alert(myVar);
       </script>


   </head>
   <body>

      
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         <div class="iq-sidebar">
            <div class="iq-sidebar-logo d-flex justify-content-between">
               <a href="index.html">
               <img src="images/logo.png" class="img-fluid" alt="">
               <span>Guardian</span>
               </a>
               <div class="iq-menu-bt-sidebar">
                  <div class="iq-menu-bt align-self-center">
                     <div class="wrapper-menu">
                        <div class="main-circle"><i class="ri-more-fill"></i></div>
                           <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
                     </div>
                  </div>
               </div>
            </div>
            <div id="sidebar-scrollbar">
               <nav class="iq-sidebar-menu">
                  <ul id="iq-sidebar-toggle" class="iq-menu">
                     <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Dashboard</span></li>
                     <li>
                        <a href="index.html" class="iq-waves-effect"><i class="ri-hospital-fill"></i><span>Doctor</span></a>
                     </li>                     
                     <li>
                        <a href="dashboard-1.html" class="iq-waves-effect"><i class="ri-home-8-fill"></i><span>Hospital</span></a>
                     </li>
                     <li>
                        <a href="dashboard-2.html" class="iq-waves-effect"><i class="ri-briefcase-4-fill"></i><span>Emergency List</span></a>
                     </li>
                     <li>
                        <a href="dashboard-3.html" class="iq-waves-effect"><i class="ri-group-fill"></i><span>Add User</span></a>
                     </li>
                  
                     <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Apps</span></li>
                     <li>
                        <a href="#mailbox" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-mail-open-fill"></i><span>Email</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="mailbox" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                           <li><a href="app/index.html"><i class="ri-inbox-fill"></i>Inbox</a></li>
                           <li><a href="app/email-compose.html"><i class="ri-edit-2-fill"></i>Email Compose</a></li>
                        </ul>
                     </li>
                     <li class="menu-level">
                        <a href="#menu-level" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-record-circle-line"></i><span>Menu Level</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="menu-level" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                           <li><a href="#"><i class="ri-record-circle-line"></i>Menu 1</a></li>
                           <li><a href="#"><i class="ri-record-circle-line"></i>Menu 2</a>
                              <ul>
                                 <li>
                                    <a href="#sub-menu" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-play-circle-line"></i><span>Sub-menu</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                                    <ul id="sub-menu" class="iq-submenu iq-submenu-data collapse">
                                       <li><a href="#"><i class="ri-record-circle-line"></i>Sub-menu 1</a></li>
                                       <li><a href="#"><i class="ri-record-circle-line"></i>Sub-menu 2</a></li>
                                       <li><a href="#"><i class="ri-record-circle-line"></i>Sub-menu 3</a></li>
                                    </ul>
                                 </li>
                              </ul>
                           </li>
                           <li><a href="#"><i class="ri-record-circle-line"></i>Menu 3</a></li>
                           <li><a href="#"><i class="ri-record-circle-line"></i>Menu 4</a></li>
                        </ul>
                     </li>
                  </ul>
               </nav>
               <div class="p-3"></div>
            </div>
         </div>
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <!-- TOP Nav Bar -->
            <div class="iq-top-navbar">
               <div class="iq-navbar-custom">
                  <div class="iq-sidebar-logo">
                     <div class="top-logo">
                        <a href="index.html" class="logo">
                        <img src="images/logo.png" class="img-fluid" alt="">
                        <span>Guardian</span>
                        </a>
                     </div>
                  </div>
                  <nav class="navbar navbar-expand-lg navbar-light p-0">
                     <div class="iq-search-bar">
                        <form action="#" class="searchbox">
                           <input type="text" class="text search-input" placeholder="Type here to search...">
                           <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                        </form>
                     </div>
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                     <i class="ri-menu-3-line"></i>
                     </button>
                     <div class="iq-menu-bt align-self-center">
                        <div class="wrapper-menu">
                           <div class="main-circle"><i class="ri-more-fill"></i></div>
                           <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
                        </div>
                     </div>
                     <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto navbar-list">
                           <li class="nav-item">
                              <a class="search-toggle iq-waves-effect language-title" href="#"><img src="images/small/flag-01.png" alt="img-flaf" class="img-fluid mr-1" style="height: 16px; width: 16px;" /> English <i class="ri-arrow-down-s-line"></i></a>
                              <div class="iq-sub-dropdown">
                                 <a class="iq-sub-card" href="#"><img src="images/small/flag-02.png" alt="img-flaf" class="img-fluid mr-2" />French</a>
                                 <a class="iq-sub-card" href="#"><img src="images/small/flag-03.png" alt="img-flaf" class="img-fluid mr-2" />Spanish</a>
                                 <a class="iq-sub-card" href="#"><img src="images/small/flag-04.png" alt="img-flaf" class="img-fluid mr-2" />Italian</a>
                                 <a class="iq-sub-card" href="#"><img src="images/small/flag-05.png" alt="img-flaf" class="img-fluid mr-2" />German</a>
                                 <a class="iq-sub-card" href="#"><img src="images/small/flag-06.png" alt="img-flaf" class="img-fluid mr-2" />Japanese</a>
                              </div>
                           </li>
                           <li class="nav-item iq-full-screen">
                              <a href="#" class="iq-waves-effect" id="btnFullscreen"><i class="ri-fullscreen-line"></i></a>
                           </li>
                           <li class="nav-item">
                              <a href="#" class="search-toggle iq-waves-effect">
                                 <i class="ri-notification-3-fill"></i>
                                 <span class="bg-danger dots"></span>
                              </a>
                              <div class="iq-sub-dropdown">
                                 <div class="iq-card shadow-none m-0">
                                    <div class="iq-card-body p-0 ">
                                       <div class="bg-primary p-3">
                                          <h5 class="mb-0 text-white">All Notifications<small class="badge  badge-light float-right pt-1">4</small></h5>
                                       </div>
                                       <a href="#" class="iq-sub-card" >
                                          <div class="media align-items-center">
                                             <div class="">
                                                <img class="avatar-40 rounded" src="images/user/01.jpg" alt="">
                                             </div>
                                             <div class="media-body ml-3">
                                                <h6 class="mb-0 ">Emma Watson Bini</h6>
                                                <small class="float-right font-size-12">Just Now</small>
                                                <p class="mb-0">95 MB</p>
                                             </div>
                                          </div>
                                       </a>
                                       <a href="#" class="iq-sub-card" >
                                          <div class="media align-items-center">
                                             <div class="">
                                                <img class="avatar-40 rounded" src="images/user/02.jpg" alt="">
                                             </div>
                                             <div class="media-body ml-3">
                                                <h6 class="mb-0 ">New customer is join</h6>
                                                <small class="float-right font-size-12">5 days ago</small>
                                                <p class="mb-0">Jond Bini</p>
                                             </div>
                                          </div>
                                       </a>
                                       <a href="#" class="iq-sub-card" >
                                          <div class="media align-items-center">
                                             <div class="">
                                                <img class="avatar-40 rounded" src="images/user/03.jpg" alt="">
                                             </div>
                                             <div class="media-body ml-3">
                                                <h6 class="mb-0 ">Two customer is left</h6>
                                                <small class="float-right font-size-12">2 days ago</small>
                                                <p class="mb-0">Jond Bini</p>
                                             </div>
                                          </div>
                                       </a>
                                       <a href="#" class="iq-sub-card" >
                                          <div class="media align-items-center">
                                             <div class="">
                                                <img class="avatar-40 rounded" src="images/user/04.jpg" alt="">
                                             </div>
                                             <div class="media-body ml-3">
                                                <h6 class="mb-0 ">New Mail from Fenny</h6>
                                                <small class="float-right font-size-12">3 days ago</small>
                                                <p class="mb-0">Jond Bini</p>
                                             </div>
                                          </div>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </li>
                           <li class="nav-item dropdown">
                              <a href="#" class="search-toggle iq-waves-effect">
                              <i class="ri-mail-open-fill"></i>
                              <span class="bg-primary count-mail"></span>
                           </a>
                              <div class="iq-sub-dropdown">
                                 <div class="iq-card shadow-none m-0">
                                    <div class="iq-card-body p-0 ">
                                       <div class="bg-primary p-3">
                                          <h5 class="mb-0 text-white">All Messages<small class="badge  badge-light float-right pt-1">5</small></h5>
                                       </div>
                                       <a href="#" class="iq-sub-card" >
                                          <div class="media align-items-center">
                                             <div class="">
                                                <img class="avatar-40 rounded" src="images/user/01.jpg" alt="">
                                             </div>
                                             <div class="media-body ml-3">
                                                <h6 class="mb-0 ">Bini Emma Watson</h6>
                                                <small class="float-left font-size-12">13 Jun</small>
                                             </div>
                                          </div>
                                       </a>
                                       <a href="#" class="iq-sub-card" >
                                          <div class="media align-items-center">
                                             <div class="">
                                                <img class="avatar-40 rounded" src="images/user/02.jpg" alt="">
                                             </div>
                                             <div class="media-body ml-3">
                                                <h6 class="mb-0 ">Lorem Ipsum Watson</h6>
                                                <small class="float-left font-size-12">20 Apr</small>
                                             </div>
                                          </div>
                                       </a>
                                       <a href="#" class="iq-sub-card" >
                                          <div class="media align-items-center">
                                             <div class="">
                                                <img class="avatar-40 rounded" src="images/user/03.jpg" alt="">
                                             </div>
                                             <div class="media-body ml-3">
                                                <h6 class="mb-0 ">Why do we use it?</h6>
                                                <small class="float-left font-size-12">30 Jun</small>
                                             </div>
                                          </div>
                                       </a>
                                       <a href="#" class="iq-sub-card" >
                                          <div class="media align-items-center">
                                             <div class="">
                                                <img class="avatar-40 rounded" src="images/user/04.jpg" alt="">
                                             </div>
                                             <div class="media-body ml-3">
                                                <h6 class="mb-0 ">Variations Passages</h6>
                                                <small class="float-left font-size-12">12 Sep</small>
                                             </div>
                                          </div>
                                       </a>
                                       <a href="#" class="iq-sub-card" >
                                          <div class="media align-items-center">
                                             <div class="">
                                                <img class="avatar-40 rounded" src="images/user/05.jpg" alt="">
                                             </div>
                                             <div class="media-body ml-3">
                                                <h6 class="mb-0 ">Lorem Ipsum generators</h6>
                                                <small class="float-left font-size-12">5 Dec</small>
                                             </div>
                                          </div>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </li>
                        </ul>
                     </div>
                     <ul class="navbar-list">
                        <li>
                           <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                              <img src="images/user/1.jpg" class="img-fluid rounded mr-3" alt="user">
                              <div class="caption">
                                 <h6 class="mb-0 line-height"><%= det['First Name'] %> <%= det['Last Name'] %></h6>
                                 <span class="font-size-12">Available</span>
                              </div>
                           </a>
                           <div class="iq-sub-dropdown iq-user-dropdown">
                              <div class="iq-card shadow-none m-0">
                                 <div class="iq-card-body p-0 ">
                                    <div class="bg-primary p-3">
                                       <h5 class="mb-0 text-white line-height">Hello <%= det['First Name'] %> <%= det['Last Name'] %></h5>
                                       <span class="text-white font-size-12">Available</span>
                                    </div>
                                    <a href="profile.html" class="iq-sub-card iq-bg-primary-hover">
                                       <div class="media align-items-center">
                                          <div class="rounded iq-card-icon iq-bg-primary">
                                             <i class="ri-file-user-line"></i>
                                          </div>
                                          <div class="media-body ml-3">
                                             <h6 class="mb-0 ">My Profile</h6>
                                             <p class="mb-0 font-size-12">View personal profile details.</p>
                                          </div>
                                       </div>
                                    </a>
                                    <a href="profile-edit.html" class="iq-sub-card iq-bg-primary-hover">
                                       <div class="media align-items-center">
                                          <div class="rounded iq-card-icon iq-bg-primary">
                                             <i class="ri-profile-line"></i>
                                          </div>
                                          <div class="media-body ml-3">
                                             <h6 class="mb-0 ">Edit Profile</h6>
                                             <p class="mb-0 font-size-12">Modify your personal details.</p>
                                          </div>
                                       </div>
                                    </a>
                                    <a href="account-setting.html" class="iq-sub-card iq-bg-primary-hover">
                                       <div class="media align-items-center">
                                          <div class="rounded iq-card-icon iq-bg-primary">
                                             <i class="ri-account-box-line"></i>
                                          </div>
                                          <div class="media-body ml-3">
                                             <h6 class="mb-0 ">Account settings</h6>
                                             <p class="mb-0 font-size-12">Manage your account parameters.</p>
                                          </div>
                                       </div>
                                    </a>
                                    <a href="privacy-setting.html" class="iq-sub-card iq-bg-primary-hover">
                                       <div class="media align-items-center">
                                          <div class="rounded iq-card-icon iq-bg-primary">
                                             <i class="ri-lock-line"></i>
                                          </div>
                                          <div class="media-body ml-3">
                                             <h6 class="mb-0 ">Privacy Settings</h6>
                                             <p class="mb-0 font-size-12">Control your privacy parameters.</p>
                                          </div>
                                       </div>
                                    </a>
                                    <div class="d-inline-block w-100 text-center p-3">
                                       <a class="bg-primary iq-sign-btn" href="sign-in.html" role="button">Sign out<i class="ri-login-box-line ml-2"></i></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </nav>
               </div>
            </div>
            <!-- TOP Nav Bar END -->
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-4">
                     <div class="iq-card">
                        <div class="iq-card-body pl-0 pr-0 pt-0">
                           <div class="doctor-details-block">
                              <div class="doc-profile-bg bg-primary" style="height:150px;">
                              </div>
                              <div class="doctor-profile text-center">
                                 <img src="images/user/11.png" alt="profile-img" class="avatar-130 img-fluid">
                              </div>
                              <div class="text-center mt-3 pl-3 pr-3">
                                 <h4><b><%= det['First Name'] %> <%= det['Last Name'] %></b></h4>
                                 <p>Engineer</p>
                                 <p class="mb-0">Student at Thapar Institute of Engineering and Technology</p>
                              </div>
                              <hr>
                              <ul class="doctoe-sedual d-flex align-items-center justify-content-between p-0 m-0">
                                 <li class="text-center">
                                    <h3 class="">AUDI</h3>
                                    <span>Vehicle</span>
                                  </li>
                                  <li class="text-center">
                                    <h3 class="">R8</h3>
                                    <span>Model</span>
                                  </li>
                                  <li class="text-center">
                                    <h3 class="">2020</h3>
                                    <span>YEAR</span>
                                  </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Personal Information</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <div class="about-info m-0 p-0">
                              <div class="row">
                                 <div class="col-4">Name:</div>
                                 <div class="col-8">
                                    <%= det['First Name'] %> <%= det['Last Name'] %>
                                  </div>
                                  <div class="col-4">Age:</div>
                                  <div class="col-8"><%= det['Age'] %></div>
                                  <div class="col-4">Email:</div>
                                  <div class="col-8"><%= det['Email ID'] %></div>
                                  <div class="col-4">Phone:</div>
                                  <div class="col-8"><%= det['User Phone number'] %></div>
                                  <div class="col-4">Address:</div>
                                  <div class="col-8"><%= det['Email ID'] %></div>
                                  <div class="col-4">Bld Grp</div>
                                  <div class="col-8"><%= det['Blood Group'] %></div>
                                  <div class="col-4">Height</div>
                                  <div class="col-8"><%= det['Height'] %></div>
                                  <div class="col-4">Weight</div>
                                  <div class="col-8"><%= det['Weight'] %></div>
                                  <div class="col-4">G Phone1:</div>
                                  <div class="col-8"><%= det['Emergency Contact 1'] %></div>
                                  <div class="col-4">G Phone2:</div>
                                  <div class="col-8"><%= det['Emergency Contact 2'] %></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Crash Feedback</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <ul class="iq-timeline">
                              <li>
                                 <div class="timeline-dots border-success"></div>
                                 <h6 class="">Confirmed</h6>
                                 <small class="mt-1">--</small>
                              </li>
                              <li>
                                 <div class="timeline-dots border-danger"></div>
                                 <h6 class="">Level of Damage</h6>
                                 <small class="mt-1">Unknown</small>
                              </li>
                              <li>
                                 <div class="timeline-dots border-primary"></div>
                                 <h6 class="mb-1">Body Injury</h6>
                                 <small class="mt-1">Unknown</small>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Photos</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <ul class="profile-img-gallary d-flex flex-wrap p-0 m-0">
                              <li class="col-md-4 col-6 pb-3"><a href="javascript:void();"><img src="<%= data['Images'] %>" alt="gallary-image" class="img-fluid"></a></li>

                           </ul>
                        </div>
                     </div>
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Audio</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <ul class="profile-img-gallary d-flex flex-wrap p-0 m-0">
                              <li class="col-md-4 col-6 pb-3"><a href="javascript:void();"><img src="images/page-img/g1.jpg" alt="gallary-image" class="img-fluid"></a></li>
                              <li class="col-md-4 col-6 pb-3"><a href="javascript:void();"><img src="images/page-img/g2.jpg" alt="gallary-image" class="img-fluid"></a></li>
                              <li class="col-md-4 col-6 pb-3"><a href="javascript:void();"><img src="images/page-img/g3.jpg" alt="gallary-image" class="img-fluid"></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-8">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="iq-card">
                              <div class="iq-card-header d-flex justify-content-between">
                                 <div class="iq-header-title">
                                    <h4 class="card-title">Crash Details</h4>
                                 </div>
                              </div>
                              <div class="iq-card-body">
                                 <ul class="speciality-list m-0 p-0">
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-primary"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Crash ID</h6>
                                          <p class="mb-0"><%= data['CMT']['crash_id']%></p>
                                       </div>
                                    </li>
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-warning"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Trip ID</h6>
                                          <p class="mb-0"><%= data['CMT']['crash_id']%></p>
                                       </div>
                                    </li>
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-info"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Driver</h6>
                                          <p class="mb-0">Said</p>
                                       </div>
                                    </li>
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-info"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Crash Time</h6>
                                          <p class="mb-0"><%= data['CMT']['coords']['0']['time'] %></p>
                                       </div>
                                    </li>
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-info"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Location</h6>
                                          <p class="mb-0">Rishikesh</p>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="iq-card">
                              <div class="iq-card-header d-flex justify-content-between">
                                 <div class="iq-header-title">
                                    <h4 class="card-title">Crash Description</h4>
                                 </div>
                              </div>
                              <div class="iq-card-body">
                                 <ul class="iq-timeline">
                                    <li>
                                       <div class="timeline-dots border-success"></div>
                                       <p><%= data['CMT']['narrative'] %></p>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="iq-card">
                              <div class="iq-card-header d-flex justify-content-between">
                                 <div class="iq-header-title">
                                    <h4 class="card-title">Whether Conditions</h4>
                                 </div>
                              </div>
                              <div class="iq-card-body">
                                 <ul class="speciality-list m-0 p-0">
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-primary"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Time observed</h6>
                                          <p class="mb-0"><%= data['CMT']['weather']['observation_time'] %></p>
                                       </div>
                                    </li>
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-warning"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Precipitation</h6>
                                          <p class="mb-0"><%= data['CMT']['weather']['precipitation_type'] %></p>
                                       </div>
                                    </li>
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-info"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Wind</h6>
                                          <p class="mb-0"><%= data['CMT']['weather']['wind_speed'] %></p>
                                       </div>
                                    </li>
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-info"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Wind Gust</h6>
                                          <p class="mb-0"><%= data['CMT']['weather']['wind_gus_speed'] %></p>
                                       </div>
                                    </li>
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-info"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Visibility</h6>
                                          <p class="mb-0"><%= data['CMT']['weather']['visibility'] %></p>
                                       </div>
                                    </li>
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-info"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Daytime</h6>
                                          <p class="mb-0"><%= data['CMT']['weather']['is_day_time'] %></p>
                                       </div>
                                    </li>
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-info"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Sun Facing Driver</h6>
                                          <p class="mb-0"><%= data['CMT']['driver_facing_sun'] %></p>
                                       </div>
                                    </li>
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-info"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Temperature</h6>
                                          <p class="mb-0"><%= data['CMT']['weather']['temperature'] %></p>
                                       </div>
                                    </li>
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-info"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Whether</h6>
                                          <p class="mb-0"><%= data['CMT']['weather']['weather_text'] %></p>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="iq-card">
                              <div class="iq-card-header d-flex justify-content-between">
                                 <div class="iq-header-title">
                                    <h4 class="card-title">Sensor Data</h4>
                                 </div>
                              </div>
                              <div class="iq-card-body">
                                 <ul class="speciality-list m-0 p-0">
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-primary"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Accelerometer X</h6>
                                          <p class="mb-0"><%= data['CMT']['accel_vert_data']['0']['x'] %></p>
                                       </div>
                                    </li>
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-warning"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Accelerometer Y</h6>
                                          <p class="mb-0"><%= data['CMT']['accel_vert_data']['0']['y'] %></p>
                                       </div>
                                    </li>
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-info"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Crash Coord Lat</h6>
                                          <p class="mb-0"><%= data['CMT']['crash_lat'] %></p>
                                       </div>
                                    </li>
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-info"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Crash Coord Lng</h6>
                                          <p class="mb-0"><%= data['CMT']['crash_lng'] %></p>
                                       </div>
                                    </li>
   
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-info"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Heart Rate</h6>
                                          <p class="mb-0"><%= data['CMT']['heart_rate'] %></p>
                                       </div>
                                    </li>
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-info"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Alcohol</h6>
                                          <p class="mb-0"><%= data['CMT']['alcohol'] %></p>
                                       </div>
                                    </li>
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-info"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Drowsy</h6>
                                          <p class="mb-0"><%= data['CMT']['drowsiness'] %></p>
                                       </div>
                                    </li>
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-info"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Glass Break IR</h6>
                                          <p class="mb-0"><%= data['CMT']['glass_break'] %></p>
                                       </div>
                                    </li>
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-info"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ml-3">
                                          <h6>Other</h6>
                                          <p class="mb-0">Yes</p>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="iq-card">
                           <div class="iq-card-header d-flex justify-content-between">
                              <div class="iq-header-title">
                                 <h4 class="card-title">Detailed Description of Accident</h4>
                              </div>
                           </div>
                           <div class="iq-card-body">
                              <ul class="nav nav-tabs" id="myTab-two" role="tablist">
                                 <li class="nav-item">
                                    <a class="nav-link active" id="home-tab-two" data-toggle="tab" href="#home-two" role="tab" aria-controls="home" aria-selected="true">Crash Info</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" id="profile-tab-two" data-toggle="tab" href="#profile-two" role="tab" aria-controls="profile" aria-selected="false">Driver Info</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" id="contact-tab-two" data-toggle="tab" href="#contact-two" role="tab" aria-controls="contact" aria-selected="false">Vehicle Info</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" id="app-tab-two" data-toggle="tab" href="#app-two" role="tab" aria-controls="app" aria-selected="false">App Info</a>
                                 </li>
                              </ul>
                              <div class="tab-content" id="myTabContent-1">
                                 <div class="tab-pane fade show active" id="home-two" role="tabpanel" aria-labelledby="home-tab-two">
                                    <table class="table">
                                       <tbody>
                                          <tr>
                                             <th class="text-center" scope="row">Number of Impacts</th>
                                             <td class="text-center"><%= data['CMT']['num_impacts'] %></td>
                                          </tr>
                                          <tr>
                                             <th class="text-center" scope="row">Speed Before Crash</th>
                                             <td class="text-center"><%= data['CMT']['speed_before'] %></td>
                                          </tr>
                                          <tr>
                                             <th class="text-center" scope="row">Speed at Impact</th>
                                             <td class="text-center"><%= data['CMT']['impact_speed'] %></td>
                                          </tr>
                                          <tr>
                                             <th class="text-center" scope="row">Speed after Crash</th>
                                             <td class="text-center"><%= data['CMT']['speed_after'] %></td>
                                          </tr>
                                          <tr>
                                             <th class="text-center" scope="row">Delta-V</th>
                                             <td class="text-center"><%= data['CMT']['delta_v'] %></td>
                                          </tr>
                                             <th class="text-center" scope="row">Mean  Acceleration</th>
                                             <td class="text-center">-0.41g</td>
                                          </tr>
                                          <tr>
                                             <th class="text-center" scope="row">Heading at Impact</th>
                                             <td class="text-center"><%= data['CMT']['driver_direction'] %></td>
                                          </tr>
                                          <tr>
                                             <th class="text-center" scope="row">Crash Duration</th>
                                             <td class="text-center">4.4sec</td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                                 <div class="tab-pane fade" id="profile-two" role="tabpanel" aria-labelledby="profile-tab-two">
                                    <table class="table">
                                       <tbody>
                                          <tr>
                                             <th class="text-center" scope="row">Evasice Manueuvar</th>
                                             <td class="text-center"><%= data['CMT']['driver_maneuver'] %></td>
                                          </tr>
                                          <tr>
                                             <th class="text-center" scope="row">Prior Phone Use</th>
                                             <td class="text-center"><%= data['CMT']['prior_phone_use'] %></td>
                                          </tr>
                                          <tr>
                                             <th class="text-center" scope="row">Prior Speeding</th>
                                             <td class="text-center"><%= data['CMT']['prior_speeding'] %></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                                 <div class="tab-pane fade" id="contact-two" role="tabpanel" aria-labelledby="contact-tab-two">
                                    <table class="table">
                                       <tbody>
                                          <tr>
                                             <th class="text-center" scope="row">Vehicle stopped post crash</th>
                                             <td class="text-center">Yes</td>
                                          </tr>
                                          <tr>
                                             <th class="text-center" scope="row">Airbag Deployed</th>
                                             <td class="text-center"><%= data['CMT']['airbag_deployed'] %></td>
                                          </tr>
                                          <tr>
                                             <th class="text-center" scope="row">Vehicle Rollover</th>
                                             <td class="text-center"><%= data['CMT']['rollover'] %></td>
                                          </tr>
                                          <tr>
                                             <th class="text-center" scope="row">Vehicle Spin</th>
                                             <td class="text-center"><%= data['CMT']['vehicle_spin'] %></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                                 <div class="tab-pane fade" id="app-two" role="tabpanel" aria-labelledby="app-tab-two">
                                    <table class="table">
                                       <tbody>
                                          <tr>
                                             <th class="text-center" scope="row">Vehicle stopped post crash</th>
                                             <td class="text-center">Yes</td>
                                          </tr>
                                          <tr>
                                             <th class="text-center" scope="row">Airbag Deployed</th>
                                             <td class="text-center">No</td>
                                          </tr>
                                          <tr>
                                             <th class="text-center" scope="row">Vehicle Rollover</th>
                                             <td class="text-center">Unknown</td>
                                          </tr>
                                          <tr>
                                             <th class="text-center" scope="row">Vehicle Spin</th>
                                             <td class="text-center">No</td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container-fluid row">
               <div class="col-md-3">
                  <div class="iq-card">
                     <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                           <h4 class="card-title">Victim Notes</h4>
                        </div>
                     </div>
                     <div class="iq-card-body">
                        <ul class="iq-timeline">
                           <li>
                              <div class="timeline-dots border-success"></div>
                              <p><%= data['CMT']['narrative'] %></p>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="iq-card col-sm-4">
                  <div class="iq-card-header d-flex justify-content-between">
                     <div class="iq-header-title">
                        <h4 class="card-title"> Hit Location Description</h4>
                     </div>
                  </div>
                  <div class="iq-card-body">
                     <div id="am-radar-chart" style="height: 400px;"></div>
                  </div>
               </div>
               <div class="iq-card col-sm-4">
                  <div class="iq-card-header d-flex justify-content-between">
                     <div class="iq-header-title">
                        <h4 class="card-title">Severity</h4>
                     </div>
                  </div>
                  <div class="iq-card-body">
                     <div id="high-gauges-chart" style="height: 400px;"></div>
                  </div>
               </div>
            </div>
            <div class="container-fluid row">
                  <div class="col-sm-4">
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Book Nearest Ride</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902543.2003194243!2d-118.04220880485131!3d36.56083290513502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80be29b9f4abb783%3A0x4757dc6be1305318!2sInyo%20National%20Forest!5e0!3m2!1sen!2sin!4v1576668158879!5m2!1sen!2sin"  height="250" allowfullscreen=""></iframe>
                                      
                           <!-- <div id="map"></div> -->
                         </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Street View</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!4v1576670414304!6m8!1m7!1sCAoSLEFGMVFpcFBmeGNVWUhFYmRqNWFzLTlsTjgyQUVMbTY1ckNqcmdMRDFjcy16!2m2!1d37.41885!2d-122.0798!3f191.60895907234024!4f-16.305518968749!5f0.4000000000000002"  height="250"  allowfullscreen=""></iframe>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Satellite Location</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d552.6523460203307!2d-121.8326811833386!3d38.44960145310393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085259f4fcf781d%3A0x80a4c8c2bb5a0123!2s835%20Woodvale%20Dr%2C%20Dixon%2C%20CA%2095620%2C%20USA!5e1!3m2!1sen!2sin!4v1576670825530!5m2!1sen!2sin"  height="250"  allowfullscreen=""></iframe>
                        </div>
                     </div>
                  </div>
            </div>
            <!-- Footer -->
            <footer class="bg-white iq-footer">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-lg-6">
                        <ul class="list-inline mb-0">
                           <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                           <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
                        </ul>
                     </div>
                     <div class="col-lg-6 text-right">
                        Copyright 2020 <a href="#">Guardian</a> All Rights Reserved.
                     </div>
                  </div>
               </div>
            </footer>
            <!-- Footer END -->
         </div>
      </div>
      <!-- Wrapper END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/jquery.min.js"></script>
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <!-- Appear JavaScript -->
      <script src="js/jquery.appear.js"></script>
      <!-- Countdown JavaScript -->
      <script src="js/countdown.min.js"></script>
      <!-- Counterup JavaScript -->
      <script src="js/waypoints.min.js"></script>
      <script src="js/jquery.counterup.min.js"></script>
      <!-- Wow JavaScript -->
      <script src="js/wow.min.js"></script>
      <!-- Apexcharts JavaScript -->
      <script src="js/apexcharts.js"></script>
      <!-- Slick JavaScript -->
      <script src="js/slick.min.js"></script>
      <!-- Select2 JavaScript -->
      <script src="js/select2.min.js"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="js/owl.carousel.min.js"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="js/jquery.magnific-popup.min.js"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="js/smooth-scrollbar.js"></script>
      <!-- lottie JavaScript -->
      <script src="js/lottie.js"></script>
      <!-- core JavaScript -->
      <script src="js/core.js"></script>
      <script src="js/highcharts.js"></script>
      <!-- highcharts-3d JavaScript -->
      <script src="js/highcharts-3d.js"></script>
      <!-- highcharts-more JavaScript -->
      <script src="js/highcharts-more.js"></script>
      <!-- charts JavaScript -->
      <script src="js/charts.js"></script>
      <!-- animated JavaScript -->
      <script src="js/animated.js"></script>
      <!-- Chart Custom JavaScript -->
      <script src="js/chart-custom.js"></script>
      <!-- Custom JavaScript -->
      <script src="js/custom.js"></script>

      <script>
      var image = 'images/cab.ico';

      function initMap() {
        // The map, centered at Uluru
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 9,
          center: uluru,
        });

        var marker2 = new google.maps.Marker({
          position: {lat: 28.49, lng: 77.875},
          map: map,
          icon: image,
        });
        marker = new google.maps.Marker({
          map: map,
          draggable: true,
          animation: google.maps.Animation.DROP,
          position: uluru,
        });
        marker.addListener('click', toggleBounce);
      }

      function toggleBounce() {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null);
        } else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }
    </script>
    <script
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlNk-_velpJbK6Ztu5uHtAjd5wMPqcgU0&callback=initMap"
    ></script>
   </body>

<!-- Mirrored from iqonic.design/themes/Guardian/html/profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 19 Sep 2020 19:32:55 GMT -->
</html>